.labels {
  margin-bottom: 40px;
}

.field, .field-label {
  height: 30px;
  padding: 0px 15px;
  width: 44%;
  margin-right: 10px;
}
.field {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  height: 40px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section, .field-label {
  text-align: left;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  font-weight: 100;
}
.field-label {
  font-weight: 700;
}
.button-add-example {
  width: 100%;
  margin-bottom: 10px;
}
.button-train {
  width: 100%;
}
.predict-controls {
  padding-top: 30px;
  padding-bottom: 30px;
}
.predict-controls .element {
  width: 50%;
  display: block;
}
button {
  margin-top: 10px;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  font-weight: 700;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.predict-controls {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section {
  margin-top: 5px;
  margin-bottom: 0px;
}

.tensorflow-example {
  margin: 10px;
}
